@{
    ViewBag.Title = "Home Page";
}


<div class="details">
    <img src="images/Dolphin.JPG" />
    <h2>Dolphin Fin</h2>
    <ul>
        <li>Type: Aquatic</li>
        <li>Name: Dolphin</li>
        <li>Description: Good friend!</li>
    </ul>
</div>

<div id="theForm">
    <form>
        <label>Your Name:</label>
        <br />
        <input />
        <br />
        <label>Email:</label>
        <br />
        <input type="email" />
        <br />
        <label>Subject:</label>
        <br />
        <input type="text" />
        <br />
        <label>Message:</label>
        <br />
        <textarea rows="4"></textarea>
        <br />
        <label>Your Name:</label>
        <br />
        <input type="submit" value="Send Message" />
    </form>
</div>
